@import "tailwindcss";

@layer base {
  :where(h1, h2, h3, h4, h5, h6) {
    font-family: 'DM Sans Variable', sans-serif;
  }
  
  :where(:not(h1, h2, h3, h4, h5, h6)) {
    font-family: 'DM Mono', monospace;
  }

  h1 {
    font-weight: 700;
    font-size: 2.75rem;
  }

  p {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
  }

  h1, p {
    transition:  color 250ms ease;
    line-height: 1;
  }
}