@import "tailwindcss";

@layer base {
  * {
    cursor: url("/cursor.svg"), auto;
  }

  :where(a, button):hover {
    cursor: url("/pointer.svg"), auto;
  }

  :where(h1, h2, h3, h4, h5, h6) {
    font-family: "Fira Sans Extra Condensed", sans-serif;
  }

  :where(:not(h1, h2, h3, h4, h5, h6)) {
    font-family: "DM Mono", monospace;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #000000;
  }

  ::-webkit-scrollbar-thumb {
    background: #2b097a;
    border-radius: 4px;
  }

  h1 {
    font-weight: 700;
    font-size: 2.75rem;
  }

  p {
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
  }
}
