@import "tailwindcss";
@import "./fonts.css";
@import "./theme.css";
@import "./base.css";
@import "./utilities.css";
@import "./components.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans-variable: 'DM Sans Variable', sans-serif;
  --font-dm-mono: 'DM Mono', monospace;

  --color-folder-1: #D9D9D9;
  --color-folder-2: #ABABAB;
  --color-folder-3: #FFE430;
}
