@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
  --font-sans-variable: "DM Sans Variable", sans-serif;
  --font-dm-mono: "DM Mono", monospace;
  --breakpoint-xs: 400px;
}
