---
import BaseLayout from "../layout/BaseLayout.astro";
import SubPageLayout from "../layout/SubPageLayout.astro";
import { main_projects, sections } from "../data";
import CardProject from "../components/CardProject.astro";
import FolderContainer from "../components/FolderContainer.astro";


const {name, images, index, backgroundColor} = sections.flat().find(section => section.name === 'projects')!;
const projects = main_projects;
---
<BaseLayout title={name}>
    <div id="container-projects" class="relative h-full overflow-y-scroll">


      <section class="steps relative w-full h-dvh overflow-hidden">
        <div class="step-counter absolute flex flex-col m-[2em]">
          <div class="counter-title relative  overflow-hidden" style="clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);">
            <h1 class="text-8xl uppercase font-extrabold">Projects</h1>
          </div>
          <div class="count -top-2.5 overflow-hidden h-14">
            <div class="count-container relative translate-y-36 will-change-transform">
              {
                projects.map(({ title }) => (
                <h1 class="w-full relative text-white uppercase font-semi text-6xl leading-none -tracking-tighter will-change-transform">{ title }</h1>
                ))
              }

            </div>
          </div>
        </div>

        <div class="cards absolute top-3/12 left-2/4 will-change-transform -translate-x-2/4 -translate-y-2/4">
          {
            projects.map(({ image, description }) => 
              <figure class="card absolute  top-2/4 left-2/4 origin-center ml-[-250px] flex flex-col gap-1 will-change-transform w-[40rem]">
                <div class="card-img flex-1 overflow-hidden relative h-96">
                  <img class="w-full h-96 object-cover rounded-xl" src={`/${image}`} alt={description} />
                </div>
                  <figcaption class="text-xl text-white">{ description }</figcaption>
              </figure>
            )
          }
        </div>
      </section>
    </div>
</BaseLayout>

<script>
  import gsap from 'gsap';
  import Lenis from 'lenis'
  import { $, $$ } from '../utils/selectors'
  import { ScrollTrigger } from 'gsap/all';
  
  document.addEventListener('astro:page-load', () => {
    gsap.registerPlugin(ScrollTrigger)

    const lenis = new Lenis()
    lenis.on("scroll", ScrollTrigger.update)

    gsap.ticker.add((time) => {
      lenis.raf(time * 1000)
    })

    gsap.ticker.lagSmoothing(0) 

    const stickySection = $(".steps")
    const cards = $$<HTMLElement>(".card")
    const countContainer = $(".count-container")
    const totalCards = cards?.length ?? 0;
    const stickyHeight = window.innerHeight * (cards?.length ?? 5)
    
    const arcAngle = Math.PI * 0.4;
    const startAngle = Math.PI / 1 - arcAngle / 1
    const getRadius = () => {
      return window.innerWidth < 900
        ? window.innerWidth * 7.5
        : window.innerWidth * 2.5
    }

    const positionCards = (progress = 0) => {
      const radius = getRadius()
      const totalTravel = 1 + totalCards / 7.5
      const adjustedProgress = (progress * totalTravel - 1) * 0.75
      
      cards?.forEach((card, i) => {
        const normalizedProgress = (totalCards - 1 -i) / totalCards
        const cardProgress = normalizedProgress + adjustedProgress
        const angle = startAngle + arcAngle * cardProgress
      
        const x = Math.cos(angle) * radius
        const y = Math.sin(angle) * radius
        const rotation = (angle - Math.PI/  2) * (180/ Math.PI)

        gsap.set(card, {
          x,
          y: -y + radius,
          rotation: -rotation,
          transformOrigin: "center center"
        })
      })
    }
    

    ScrollTrigger.create({
      trigger: stickySection,
      start: "top top",
      end: `+=${stickyHeight}px`,
      pin: true,
      pinSpacing: true,
      onUpdate: (self) => {
        positionCards(self.progress)
      }
    })

    positionCards(0)

    let currentCardIndex = 0

    const options: IntersectionObserverInit = {
      root: null,
      rootMargin: "0% 0%",
      threshold: 0.5
    }

    const observer = new IntersectionObserver((entries) => {
      entries.forEach(entry => {
        if (entry.isIntersecting && entry.target instanceof HTMLElement) {
          currentCardIndex = Array.from(cards ?? []).indexOf(entry.target)
          const targetY = 150 - currentCardIndex * 150

          gsap.to(countContainer, {
            y:targetY,
            duration: .3,
            ease: "power1.out",
            overwrite: true
          })
        }
      })
    }, options)

    cards?.forEach(card => observer.observe(card))

    window.addEventListener('resize', () => positionCards(0))
  });
</script>