---
import LanguagePicker from "../LanguagePicker.astro";

interface Props {
  sections: {
    name: string;
    label: string;
    attr_data: string;
  }[];
}

const { sections } = Astro.props;
---

<nav class="flex flex-row gap-4 capitalize items-center">
  {
    sections.map(({ name, label, attr_data }) => (
      <a
        href={`#${name}`}
        data-section={attr_data}
        class="desktop-link text-white text-sm font-fira-sans-extra-condensed text-nav font-bold tracking-wider hover:text-amber-400 transition-colors py-2 hidden md:block "
      >
        {label}
      </a>
    ))
  }
  <div class="hidden md:block">
    <LanguagePicker />
  </div>
</nav>
