---
import Icon from "astro-iconify";
interface Props {
  id: string;
}

const { id } = Astro.props;
---

<button
  id={id}
  class="md:hidden size-8 md:size-12 block relative z-50 opacity-90 cursor-pointer"
>
  <Icon
    name="ri:menu-line"
    id="menu-icon"
    aria-hidden="true"
    class="text-white absolute inset-0 size-full will-change-transform"
    color="white"
  />
  <Icon
    aria-hidden="true"
    name="ri:close-line"
    id="close-icon"
    class="text-white absolute inset-0 size-full scale-0 opacity-0 will-change-transform"
    color="white"
  />
  <span class="sr-only">Menu mobile</span>
</button>
