---
import { Image } from "astro:assets";
---

<a
  class="relative size-[15vw] block rounded-full overflow-hidden group"
  href="https://github.com/WanderleeDev"
  target="_blank"
  rel="noopener noreferrer"
  id="badge"
>
  <Image
    id="badge-outer"
    src="https://res.cloudinary.com/dy8gpozi6/image/upload/v1765154076/badge_bxswuk.webp"
    loading="lazy"
    alt="Star"
    height={300}
    width={300}
    style={{ animationDuration: "7s" }}
    class="absolute inset-0 bg-black z-10 not-motion-reduce:animate-spin pointer-events-none"
  />
  <Image
    id="badge-inner"
    src="https://avatars.githubusercontent.com/u/116982723?v=4"
    loading="lazy"
    alt="Star"
    height={200}
    width={200}
    class="size-[8vw] absolute inset-0 z-10 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 contrast-75 pointer-events-none group-hover:scale-90 transition-all duration-500 ease-in-out group-hover:rotate-6 group-hover:grayscale-75 rounded-full"
  />
  <span class="sr-only">Go to GitHub WanderleeDev</span>
</a>
