---
interface Props {
  index: string | number
  name: string
  thumbnail: string,
  bgCustomClass: string
}

const { index, name, thumbnail, bgCustomClass } = Astro.props
---
<figure class="card group relative rounded-sm">
  <span class={`card-index absolute z-10 aspect-square size-6 top-0 left-0 grid place-content-center text-xs tracking-wide -translate-y-2/4 -translate-x-2/4 ${bgCustomClass}`}> {index}</span>
  <div class="overflow-hidden">
    <img class="group-hover:scale-125 transition-transform duration-700" src={thumbnail}  loading="lazy"/>
  </div>
  <figcaption class="uppercase pt-4 text-sm group-hover:translate-x-2 transition-transform duration-500">
    {name}
  </figcaption>
</figure>
