---
import { Image } from "astro:assets";
import Icon from "astro-iconify";
import { sections_links } from "../data";
---

<header
  id="header"
  class="fixed left-0 right-0 w-11/12 mx-auto flex flex-row gap-2 justify-between py-2 will-change-transform origin-center z-20"
>
  <h1 class="sr-only">WanderleeDev Portfolio</h1>
  <figure class="flex items-center gap-2">
    <div class="relative size-12 aspect-square rounded-full">
      <Image
        id="avatar-header"
        inferSize={true}
        loading="lazy"
        src="https://res.cloudinary.com/dy8gpozi6/image/upload/v1740447261/meme_gato_rwte5r.webp"
        alt="Hero Image"
        class="size-full relative z-10 rounded-full"
      />
      <Icon
        name="ri:code-s-slash-line"
        class="absolute inset-0 p-2 size-full text-white border-white/50 border-2 rounded-full"
      />
    </div>
    <figcaption
      class="text-white text-sm font-fira-sans-extra-condensed text-[1.3vw] font-bold tracking-wider"
    >
      Wanderlee
      <span class="tracking-normal text-amber-400">Dev</span>
    </figcaption>
  </figure>
  <nav class="flex flex-row gap-10 capitalize items-center">
    {
      sections_links.map(({ name }) => (
        <a
          href={`#${name}`}
          class="text-white text-sm font-fira-sans-extra-condensed text-[1.3vw] font-bold tracking-wider hover:text-amber-400 transition-colors block py-2"
        >
          {name}
        </a>
      ))
    }
  </nav>
</header>

<script>
  import { gsap } from "../utils/gsapConfig";
  import { $ } from "../utils/selectors";

  function animateHeader() {
    const headerElement = $("#header");

    gsap.to(headerElement, {
      width: "50%",
      ease: "none",
      top: "1rem",
      backgroundColor: "rgba(255, 255, 255, 0.1)",
      backdropFilter: "blur(10px)",
      borderRadius: "2rem",
      padding: "0.5rem 1rem",
      border: ".1rem solid rgba(255, 255, 255, 0.1)",
      scrollTrigger: {
        trigger: headerElement,
        start: "top top",
        end: "+=300",
        scrub: 1,
      },
    });
  }

  animateHeader();
</script>
