---
import LangSelector from "./LangSelector.astro";
import PersonalTagline from "./PersonalTagline.astro";
import ThemeBtn from "./ThemeBtn.astro";
---

<nav class="fixed to-0% left-0 right-0 z-50" transition:persist="navbar">
    <ul id="navbar" class="flex flex-row justify-between items-center max-md:bg-black/40 max-md:backdrop-blur-md max-md:border-1 max-md:rounded-4xl px-2 md:py-2">
        <li>
            <h1>
                <PersonalTagline customClass="uppercase" />
            </h1>
        </li>
        <li class="flex items-center gap-2"> 
            <LangSelector />
            <ThemeBtn/>
        </li>
    </ul>
</nav>
