---
import LangSelector from "./LangSelector.astro";
import ThemeBtn from "./ThemeBtn.astro";
---

<nav class="relative w-full py-8 flex justify-between items-center shadow" transition:persist="navbar">
    <ul id="navbar" class="flex flex-row justify-between items-center absolute left-0 right-0 px-8">
        <li>
            <p class="text-sm">
                Wanderlee Max
                <span class=" text-amber-600 font-semibold">| Frontend developer</span>
            </p>
        </li>
        <li class="flex items-center gap-2"> 
            <LangSelector />
            <ThemeBtn/>
        </li>
    </ul>
</nav>
