---
import LinkCard from './LinkCard.astro'

interface Props {
  customClass: string
}

const { customClass } = Astro.props
const sections = [
	'projects',
	'extras',
	'skills',
	'contact'
]
---

<ul class={`mx-auto w-full max-w-5xl p-4 flex flex-col xs:flex-row flex-wrap justify-center gap-4 sm:gap-12 md:h-auto md:gap-0 ${customClass}`}>
	{
		sections.map((section, i) => (
			<li class={
				`link-section
				${i === 0 ? 'md:col-[2/5] md:row-[3/5]': '' }
				${i === 1 ? 'md:col-[9/12] md:row-[5/7]': '' }
				${i === 2 ? 'md:col-[2/5] md:row-[8/10]': '' }
				${i === 3 ? 'md:col-[9/12] md:row-[10/12]': '' }
				` 
			}>
				<LinkCard title={section} url={`#${section}`} />
			</li>
		))
	}
</ul>