---

---

<div
  id="presentation-overlay"
  class="fixed min-w-dvw inset-0 min-h-dvh z-50 bg-white dark:bg-gray-900"
>
  <div class="grid place-content-center min-h-dvh">
    <div class="flex flex-col gap-[2.5vw] relative">
      <span
        id="vertical-divider"
        aria-hidden="true"
        class="absolute bg-pattern-2 w-1.5 rounded-xl h-full -translate-x-[400%] scale-0 origin-top"
      ></span>

      <div class="overflow-hidden">
        <p class="greeting-text text-[3vw]">Hi.</p>
      </div>

      <div class="overflow-hidden">
        <p class="intro-text text-[3vw]">I'm Wanderlee Max.</p>
      </div>

      <div class="relative overflow-hidden">
        <p
          id="role-title"
          class="text-[3.5vw] bg-pattern-2 text-transparent bg-clip-text font-extrabold relative"
        >
          A Frontend Developer.
        </p>
        <span id="reveal-block" class="bg-pattern-2 absolute inset-0 block"
        ></span>
      </div>
    </div>
  </div>
</div>
