---

---
<section id="extras" class="min-h-dvh">
  <h2 class="sr-only">Extras</h2>
  <div class="grid grid-cols-2 place-content-center items-center w-4/5 mx-auto h-full min-h-dvh">
    <p>
      Sigue explorando: estos proyectos también cuentan mi historia como desarrollador.
    </p>
    <ul>
      <li>
        <a href="http://" target="_blank" rel="noopener noreferrer">React</a>
      </li>
      <li>
        <a href="http://" target="_blank" rel="noopener noreferrer">Angular</a>
      </li>
      <li>
        <a href="http://" target="_blank" rel="noopener noreferrer">Vue</a>
      </li>
    </ul>
  </div>
</section>