---
import Presentation from '../components/Presentation.astro'
import ProfileHero from '../components/ProfileHero.astro'
import NavigationHero from '../components/NavigationHero.astro'
---
<section id="home" class="min-h-svh grid md:grid-cols-12 grid-rows-2 md:grid-rows-12  md:place-items-center">
  <Presentation />
  <ProfileHero customClass="col-[1/-1] md:col-[5/9] md:row-[1/-1]" />
  <NavigationHero customClass="col-[1/-1] md:row-[1/-1] md:contents self-center" />
</section>
