---
import { Image } from "astro:assets";
import BadgeLink from "../components/BadgeLink.astro";
---

<section class="relative min-h-dvh">
  <p
    id="presentation"
    class="relative z-10 text-[11vw] max-w-[17ch] pt-36 text-center text-balance font-bold leading-[0.95] font-fira-sans-extra-condensed flex flex-col justify-center items-center gap-1 text-stone-100"
  >
    <span class="font-inherit relative">
      Inspiring
      <Image
        src="https://cdn.prod.website-files.com/650adb68d76aea2d4f381df5/651c8c15c7a7f650f1c3b9b5_star.webp"
        alt="Star"
        height={200}
        width={200}
        class="size-20 absolute left-0 top-2/4 -translate-y-1/2 -translate-x-full -z-10"
      />
    </span>
    <span class="font-inherit">
      <span class="relative font-inherit inline-block">
        <span
          id="presentation-accent"
          class="absolute inset-0 -translate-x-4 w-full h-full -skew-x-12 bg-yellow-500 -z-10 rounded-tr-4xl will-change-transform rounded-bl-4xl mix-blend-difference scale-105 origin-left"
        ></span>
        <span
          id="presentation-accent-text"
          class="font-inherit z-10 text-gray-900 inline-block mix-blend-plus-darker"
        >
          Start-ups,
        </span>
      </span>
      one
    </span>
    <span class="relative font-[inherit] inline-block first-letter:skew-x-12"
      >story at <span class="font-inherit text-yellow-500">a time.</span>
    </span>
  </p>
  <div class="rotate-12 absolute top-28 left-3/4 -translate-x-1/4 z-10">
    <BadgeLink />
  </div>
</section>

<script>
  import { gsap } from "../utils/gsapConfig";
  import { $ } from "../utils/selectors";

  function animatePresentation() {
    const accentElement = $("#presentation-accent");
    const accentText = $("#presentation-accent-text");
    const avatarHeader = $("#avatar-header");
    const badge = $("#badge");
    const badgeOuter = $("#badge-outer");

    gsap.set(accentElement, { scaleX: 0 });
    gsap.set(accentText, {
      opacity: 0,
      scale: 20,
    });
    gsap.set(badge, {
      opacity: 0,
      x: 100,
      rotate: 45,
    });
    gsap.set(badgeOuter, { opacity: 0 });

    const tl = gsap.timeline();

    tl.to(accentElement, {
      scaleX: 1.05,
      transformOrigin: "left",
      duration: 1,
      ease: "power3.out",
    })
      .to(accentText, {
        opacity: 1,
        scale: 1,
        duration: 0.7,
        ease: "power3.out",
      })
      .to(avatarHeader, {
        opacity: 0,
        duration: 0.7,
        x: "-100%",
        rotate: -25,
        ease: "power3.out",
      })
      .to(badge, {
        opacity: 1,
        duration: 0.7,
        x: "0",
        rotate: 8,
        ease: "power3.out",
      })
      .to(
        badgeOuter,
        {
          opacity: 1,
          duration: 0.4,
          ease: "power3.out",
        },
        "-=0.2"
      );
  }

  animatePresentation();
</script>
