---
import Title from "../components/typography/Title.astro";
import Paragraph from "../components/typography/Paragraph.astro";
import GridProjects from "../components/GridProjects.astro";
import { getTranslations } from "../i18n/utils";

const lang = Astro.currentLocale as "es" | "en";
const t = getTranslations(lang);
const projectsT = t("projects");
---

<section
  id="projects"
  data-section={projectsT.attr_data}
  class="section-page min-h-dvh relative py-20 overflow-x-hidden"
>
  <header
    class="pt-8 pb-4 px-4 lg:absolute lg:top-2/4 lg:left-2/4 lg:-translate-x-2/4 lg:-translate-y-2/4 lg:text-[5vw] flex justify-center flex-col z-10 lg:pt-0 lg:pb-0 lg:px-0 lg:items-center lg:text-center"
  >
    <Title id="projects-title" customClass="mb-4 lg:mb-0"
      >{projectsT.sectionTitle}</Title
    >
    <Paragraph id="projects-description" customClass="lg:w-[40ch]">
      {projectsT.sectionDescription}
    </Paragraph>
  </header>

  <GridProjects projects={projectsT.list} />
</section>

<script>
  import { createRevealSectionTL } from "../utils/createRevealSectionTL";

  createRevealSectionTL("#projects-title", "#projects-description");
</script>
