---
import FloatingElements from "../components/FloatingElements.astro";
import DecorativeAccent from "../components/base/DecorativeAccent.astro";
import Paragraph from "../components/typography/Paragraph.astro";
import Title from "../components/typography/Title.astro";
import SkillCardStacking from "../components/SkillCardStacking.astro";
import { getTranslations } from "../i18n/utils";

const lang = Astro.currentLocale as "es" | "en";
const t = getTranslations(lang);
const skillsT = t("skills");
const skills = skillsT.list;

const maxHeightContainer = `${(skills.length - 2) * 100}vh`;
---

<section
  id="skills"
  data-section={skillsT.attr_data}
  class={`section-page relative min-h-dvh p-4 flex flex-col lg:p-8 overflow-x-clip`}
  style={{ height: maxHeightContainer }}
>
  <div
    class="lg:sticky lg:top-1 max-w-7xl lg:min-h-dvh mx-auto grid gap-12 lg:gap-16 lg:items-center lg:grid-cols-2 py-12 lg:py-0"
  >
    <header class="relative z-10">
      <div class="space-y-6">
        <DecorativeAccent />

        <Title customClass="skills-title">
          {skillsT.sectionTitle}
        </Title>
        <Paragraph customClass="skills-text w-max-[40ch]">
          {skillsT.sectionDescription}
        </Paragraph>
      </div>

      <FloatingElements />
    </header>
    <div id="container-desktop" class="lg:block hidden">
      <SkillCardStacking skills={skills} />
    </div>
  </div>
  <div id="container-mobile" class="block sticky top-1/4 lg:hidden"></div>
</section>

<script>
  import { createRevealSectionTL } from "../utils/createRevealSectionTL";
  import {
    gsap,
    GsapBreakpoints,
    type GsapBreakpointsType,
  } from "../utils/gsapConfig";
  import { $ } from "../utils/selectors";

  function animateSectionSkill() {
    const mm = gsap.matchMedia();
    const cardsContainer = $("#container-cards");
    const containerMobile = $("#container-mobile");
    const containerDesktop = $("#container-desktop");

    if (!cardsContainer || !containerMobile || !containerDesktop) return;

    mm.add({ ...GsapBreakpoints }, (context) => {
      let { isDesktop } = context.conditions as GsapBreakpointsType;

      if (isDesktop) {
        containerDesktop?.appendChild(cardsContainer);
        return;
      }
      containerMobile?.appendChild(cardsContainer);
    });

    return () => {
      mm.kill();
    };
  }

  createRevealSectionTL(".skills-title", ".skills-text");
  animateSectionSkill();
</script>
