---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import firaSansWoff2 from "@fontsource/fira-sans-extra-condensed/files/fira-sans-extra-condensed-latin-700-normal.woff2?url";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="preload"
      href={firaSansWoff2}
      as="font"
      type="font/woff2"
      crossorigin
    />
    <link rel="icon" href="/favicon_default.svg" type="image/svg+xml" />
    <link
      rel="icon"
      href="/favicon_dark.svg"
      type="image/svg+xml"
      media="(prefers-color-scheme: dark)"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Portfolio of WanderleeDev, a web developer showcasing projects and skills."
    />
    <meta
      name="keywords"
      content="portfolio, WanderleeDev, web developer, projects, skills"
    />
    <meta name="author" content="WanderleeDev" />
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="https://porfolio-2025-seven.vercel.app/" />

    <title>Portfolio WanderleeDev</title>
    <meta property="og:title" content="Portfolio WanderleeDev" />
    <meta
      property="og:description"
      content="Portfolio of WanderleeDev, a web developer showcasing projects and skills."
    />
    <meta property="og:image" content="/tom.webp" />
    <meta property="og:url" content="https://wanderleev.dev" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Portfolio WanderleeDev" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Portfolio WanderleeDev" />
    <meta
      name="twitter:description"
      content="Portfolio of WanderleeDev, a web developer showcasing projects and skills."
    />
    <meta name="twitter:image" content="/tom.webp" />
  </head>
  <body
    class="min-h-svh flex flex-col justify-between duration-500 select-none overflow-hidden"
  >
    <main id="main-container" class="flex flex-col gap-20 bg-gradient-dark">
      <!-- <Header /> -->
      <slot />
    </main>
    <div class="min-h-dvh" aria-hidden="true"></div>
    <!-- <Footer /> -->
  </body>
</html>
